/* Body */
body {
font-family: Helvetica, arial, sans-serif;
color: #444;
background-color: #EEE;
margin: 40px auto;
max-width: 45rem;
line-height: 1.6;
font-size: min(calc(.9375rem + 0.390625vw),1.25rem);
padding: 0 15px;
}

/* Headers */
h1, h2, h3 {
line-height: 1.2;
}
h1 {
font-size: 2rem;
}

/** Blockquotes */
blockquote {
color: #828282;
border-left: 4px solid #e8e8e8;
padding-left: 15px;
letter-spacing: -0.0px;
margin-left: 15px;
}